# Azure certificates and other set-up values

# Fill in the appropriate values for your Azure account 
#
# subscription_id: your subscription id or management certificate name
# storage_acct_name: disk storage account id
#
def credentials( azure )
  # Will need changing
  azure.subscription_id = 'YOUR SUBSCRIPTION ID'
  azure.storage_acct_name = 'YOUR STORAGE ACCOUNT NAME'

  # Might need changing
  azure.vm_location = 'West Europe'
  azure.mgmt_certificate = "#{azure.subscription_id}.pem"
  azure.mgmt_endpoint = 'https://management.core.windows.net'
end
